      ul, li{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline
      }
      
    
      
     
      
       ul {
        list-style: none 
      }
      
      blockquote, q {
        quotes: none }
      
      
select {
  display: block;
}
      
      .dropdown {
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0);
        /*background-color: #f6f6f6;*/
        border-radius: 4px;
        border: solid 1px #027977;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.0075);
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        float: left;
        font-size: 14px;
        font-weight: normal;
        height: 30px;
        line-height: 26px;
        outline: none;
        padding-left: 8px;
        padding-right: 30px;
        position: relative;
        text-align: left !important;
        color: #000000;
        /*-webkit-transition: all 0.2s ease-in-out;*/
        /*transition: all 0.2s ease-in-out;*/
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        width: 188px;
      }

      
    .dropdown:focus {
      background-color: #fff;
    }      
      .dropdown:hover {
        /*background-color: #f3f3f3;*/
      }
      
      .dropdown:active, .dropdown.open {
        /*background-color: #f0f0f0 !important;*/
        /*border-color: #e4e4e4;*/
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
      }
      

      .dropdown:after {
        height: 0;
        width: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #007098;
        -webkit-transform: origin(50% 20%);
        -ms-transform: origin(50% 20%);
        transform: origin(50% 20%);
        /*-webkit-transition: all 0.125s ease-in-out;*/
        /*transition: all 0.125s ease-in-out;*/
        content: '';
        display: block;
        margin-top: -2px;
        pointer-events: none;
        position: absolute;
        right: 10px;
        top: 50%;

      }
      
      .dropdown.open:after {
/*        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);*/
      }
      


.dropdown.open .list {
  border: 1px solid #015453;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  left: 0;
  margin-top: 3px;
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
 -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  width: 186px;
}
      
      .dropdown.open .option {
        cursor: pointer;
      }
      
      .dropdown.wide {
        width: 100%;
      }
      
      .dropdown.wide .list {
        left: 0 !important;
        right: 0 !important;
      }

      
      .dropdown .list {
        box-sizing: border-box;
        /*-webkit-transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;*/
        /*transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;*/
        
/*  original
        -webkit-transform: scale(0.75);
        -ms-transform: scale(0.75);
        transform: scale(0.75);
*/        

        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);

        -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        transform-origin: 50% 0;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
        background-color: #fff;
/*        border-radius: 6px;*/
        /*padding: 3px 0;*/
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
      }
      
      .dropdown .list:hover .option:not(:hover) {
         /*background-color: transparent !important;*/
      }
            
.dropdown .option {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  line-height: 20px;
  padding: 4px 4px 4px 7px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
      .dropdown .option:hover, .dropdown .option:focus {
        background-color: #CEE4E4 !important;
      }
      
      .dropdown .option.selected {
        /*font-weight: 600;*/
         background-color: #015453 !important;
        color: #fff;
      }
      
      .dropdown .option.selected:focus {
        background: #015453;
         background-color: #015453 !important;
         /*outline: 1px solid;*/
      }
      
      body {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        color: #666;
        font-family: 'roboto', sans-serif;
        /*background-color:#8BC34A;*/
      }
      
/*.container {
  margin: 150px auto 0;
  max-width: 235px;
}*/  

.container {
  margin: 0 20px;
  max-width: 235px;
}    
      .by {
        bottom: 12px;
        color: #aaa;
        font-size: 12px;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
      }
      
      .by a {
        color: #fff;
        text-decoration: none;
        /*-webkit-transition: all 0.2s ease-in-out;*/
        /*transition: all 0.2s ease-in-out;*/
      }
      
      .by a:hover {
        color: #666;
      }
/* custome*/

.dropdownList span {
  display: block;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}



/*.list ul li:first-child {
  display: none !important;
}*/


.above{
  bottom: 100%;
top: auto !important;
}

.list ul{
  padding-left:0px !important;
}

.pageDropdownList .list{
  max-height: 212px !important;
  overflow: hidden auto !important;
}