::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    border-bottom: 1px solid #eee; 
    border-top: 1px solid #eee;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #C3C3C3;
    border: 2px solid #eee;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
} 
.ansSection1 {
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  /* margin-right: -19px; */
}
.contentHolderMain1 {
  margin: 0 auto;
  /*padding-left: 10px;*/
  /* padding-right: 20px; */
}

@font-face {
    font-family:'SourceSansPro-Regular';
    src: url('../font/source_sans_pro-regular_gdi.eot');
    src:url('../font/source_sans_pro-regular_gdi.woff') format('woff'),
        url('../font/source_sans_pro-regular_gdi.ttf') format('truetype'),
        url('../font/source_sans_pro-regular_gdi.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}
@font-face {
  font-family:'SourceSansPro-Bold';
  src: url('../font/source_sans_pro-bold_gdi.eot');
  src:url('../font/source_sans_pro-bold_gdi.woff') format('woff'),
    url('../font/source_sans_pro-bold_gdi.ttf') format('truetype'),
    url('../font/source_sans_pro-bold_gdi.svg ') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

body
{
 	font-family:'SourceSansPro-Regular';
}
/*.mainContainer
{
	border: 1px solid black;
    height: 575px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 766px;
}*/
.ansSection {
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}
.para_ {
  float: left;
  font-family: "SourceSansPro-Regular";
  left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  /* width: 400px; */
}
#pageFirstSection {
  position: relative;
}
.AnswerDiv {
  background: #027977 none repeat scroll 0 0;
  border-radius: 3px;
  color: #ffffff;
  float: right;
  font-family: "SourceSansPro-Bold";
  font-size: 14px;
  height: 26px;
  position: relative;
  right: 15px;
  top: 11px;
  width: 97px;
  padding: 3px 0px 0px 0px;
  text-align: center;
}


.AnswerDiv:hover {
  background: #015453;
  color: #CEE4E4;
}

#AnswerDiv1
{
    border: 1px solid blue;
    height: 30px;
    position: absolute;
    width: 146px;
    color:rgb(8,112,149);
     /*background-image: url(../images/arrow_a.png);*/
     background-repeat: no-repeat;
     /*left: 50px;*/
}
#AnswerDiv_para1
{
  font-family: "SourceSansPro-Regular";
    height: 28%;
    /*overflow: auto;*/
    position: absolute;
    top: 30px;
     left: 70px;
}
.AnswerDiv:hover
{
    cursor: pointer;
}
.AnswerDiv span {
  left: 7px;
  position: absolute;
  top: 3px;
}
.bgArrow {
  background: rgba(0, 0, 0, 0) url("../images/arrow.png") repeat scroll 0 20px;
  height: 10px;
  left: 0;
  position: relative;
  top: 7px;
  width: 10px;
}
.AnswerDiv_para {
  display: none;
  font-family: "SourceSansPro-Regular";
  position: relative;
  width: 98%;
  outline: none !important;
}
.Cont_Ans{
  outline: none !important;
}
#pageSecondSection{
    border: 1px solid blue;
    height: 25%;
    position: absolute;
    top: 310px;
    width: 100%;
}
.wrapper {
  bottom: 48px;
  position: relative;
  top: 0;
  z-index: 1;
}
#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
.textArea {
  display: none;
  float: right;
  left: -6px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  top: -7px;
  width: 93%;
}
/*

#textA1 {
  min-height: 25px;
}
#textA2 {
  min-height: 25px;
}
#textA3 {
  min-height: 25px;
}
#textA4 {
  min-height: 25px;
}
#textA5 {
  min-height: 25px;
}
#textA6 {
  height: 25px;
}
#textA7 {
  height: 25px;
}
#textA8 {
  height: 25px;
}
#textA9 {
  height: 25px;
}
#textA10 {
  height: 25px;
}
#textA11 {
  height: 25px;
}
#textA12 {
  height: 25px;
}*/

#wrap1 {
  min-height: 30px;
}

#wrap2{
  min-height: 30px;
}

#wrap3{
  min-height: 30px;
}

.iScrollVerticalScrollbar {
  margin-right: 15px;
  width: 3px !important;
}

.iScrollIndicator{
  cursor: pointer;
}

.iScrollIndicator:hover {
  cursor: pointer;
  background: #4095B4 !important;
}
.pageFirstSection{
   /*padding-top: 34px;*/
}

.contentHolder p:first-of-type {
  /*text-indent: 0;*/
}

.contentHolder p {
  margin: 0;
/*  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 7px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 25px;*/
}

.contentHolderMain {
  margin: 0 auto;
  /* padding-left: 10px;
  padding-right: 20px; */
}
.loader {
  position: absolute;
 margin: 0 auto;
 /*top: 250px;*/
  width: 100%;
  height: 100%;
  background: url('../images/loading.gif') 50% 50% no-repeat;
  background-color: none; 
  z-index: 10000;
}
span.show {
  width: 90%;
}

/* .midText {
  height: 408px;
}
#midDiv1 {
  height: 384px;
} */

.gray_border_1{
  color: #D3D3D3; 
  position: relative; top: 16px; width: 100%; border-bottom: 1px solid #D3D3D3;
}

.gray_border_2{
color:#D3D3D3;
 position: relative; width: 100%; border-bottom: 1px solid #D3D3D3; top: 16px;
}

.gray_border_3{
color: #D3D3D3; 
position: relative; top: 16px; width: 100%; border-bottom: 1px solid #D3D3D3;
}
.gray_border_4{
color: #D3D3D3; 
position: relative; top: 16px; width: 100%; border-bottom: 1px solid #D3D3D3;
}
.gray_border_5{
color: #D3D3D3; 
position: relative; top: 16px; width: 100%; border-bottom: 1px solid #D3D3D3;
}
.gray_border_6{
color: #D3D3D3; 
position: relative; top: 16px; width: 100%; border-bottom: 1px solid #D3D3D3;
}
.gray_border_7{
color: #D3D3D3; 
position: relative; top: 16px; width: 100%; border-bottom: 1px solid #D3D3D3;
}
.gray_border_8{
color: #D3D3D3; 
position: relative; top: 16px; width: 100%; border-bottom: 1px solid #D3D3D3;
}
.gray_border_9{
color: #D3D3D3; 
position: relative; top: 16px; width: 100%; border-bottom: 1px solid #D3D3D3;
}
.gray_border_10{
color: #D3D3D3; 
position: relative; top: 16px; width: 100%; border-bottom: 1px solid #D3D3D3;
}
.gray_border_11{
color: #D3D3D3; 
position: relative; top: 16px; width: 100%; border-bottom: 1px solid #D3D3D3;
}
.gray_border_12{
color: #D3D3D3; 
position: relative; top: 16px; width: 100%; border-bottom: 1px solid #D3D3D3;
}

.tabindex.ontab:focus {
  outline:2px solid #ffa500;
}

.checkList:hover{
  cursor: pointer;
}